* {
	margin:0px;
	padding:0px;
}

body {
	background-color: black;
}

.logo {
	padding: 5% 0;
	display: block;
	width: 25%;
	margin: 0 auto;
}

.title {
	color: #393;
	margin: 0 auto;
	text-align: center;
	font: 3em Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}